.DS_Store
undodir
.config/coc
.config/thefuck

.config/nvim/_init.vim
.config/htop/htoprc
.config/gtk-2.0/gtkfilechooser.ini

.config/nvim/plugin/packer_compiled.lua
config/nvim/undo

config/gtk-2.0
config/lazygit
config/nvim/plugin