.DS_Store

config/gtk-2.0
config/lazygit
config/nvim/plugin
config/lua-language-server
config/nvim/plugin
config/gh
config/nvim/compit_cache
config/spaceshiprc.zsh.zwc
config/kitty/kitty_aux.conf
config/shell/theme_choice.zsh
config/nvim/lua/.luarc.json

config/bat
config/htop/
config/himalaya/
config/gtk-*/
config/coq
