property_panel.Unknown
btrue;
property_panel.Stmt_contract
btrue;
Occurrence
bfalse;
property_panel.Reachable
bfalse;
property_panel.Invalid_under_hyp_
btrue;
property_panel.Axiomatic
bfalse;
filetree_panel_vpaned
f0.492325855962;
property_panel.differing_blocks
btrue;
wp.strategies.Width
i16;
property_panel.Extended
btrue;
window_height
i945;
window_width
i1512;
property_panel.Behaviors
bfalse;
Value.expand_rows
bfalse;
property_panel.Complete_disjoint
btrue;
property_panel.Generated
bfalse;
filetree_hide_builtins
bfalse;
wp.strategies.wp:bitrange
btrue;
property_panel.initialization_of_union
btrue;
property_panel.Global_invariants
btrue;
property_panel.function_pointer
btrue;
wp.strategies.wp:bitwised
btrue;
filter_Impact
bfalse;
Properties.RTE emission
btrue;
filetree_hide_functions
bfalse;
launcher_width
i756;
Value.multiple_selections
bfalse;
property_panel.Other
btrue;
property_panel.Valid_under_hyp_
btrue;
wp.strategies.wp:replace
btrue;
property_panel.Non_generated
bfalse;
Value.show_red
btrue;
wp.strategies.wp:congruence
btrue;
filter_Occurrence
bfalse;
property_panel.Untried
bfalse;
wp.strategies.Depth
i1;
filter_Studia
bfalse;
filetree_hide_undefined
bfalse;
theme
"default"
Value.show_consolidated
btrue;
property_panel.index_bound
btrue;
property_panel.Assigns
btrue;
property_panel.is_nan
btrue;
property_panel.User_assertions
btrue;
launcher_height
i630;
property_panel.Preconditions
btrue;
property_panel.shift
btrue;
toplevel_hpaned
f0.179163901792;
filetree_hide_stdlib
bfalse;
property_panel.User_admits
btrue;
property_panel.Invalid
btrue;
Properties.RTE category
btrue;
Properties.Kind
btrue;
property_panel.Instances
btrue;
property_panel.Valid
btrue;
property_panel.Dead
bfalse;
Slicing
btrue;
property_panel.Postconditions
btrue;
property_panel.bool_value
btrue;
filter_Slicing
bfalse;
property_panel.Inconsistent
btrue;
property_panel.RTEs
btrue;
wp.strategies.wp:split
btrue;
filetree_hide_defined
bfalse;
property_panel.Terminates
btrue;
vb_message_sources
f0.699167657551;
hb_sources
f0.813114754098;
Metrics
btrue;
wp.strategies.wp:bittestrange
btrue;
property_panel.Invariant
btrue;
property_panel.Allocations
btrue;
property_panel.dangling_pointer
btrue;
property_panel.Variant
btrue;
property_panel.overflow
btrue;
GuiGoal.palette
f0.8;
property_panel.Lemmas
btrue;
property_panel.initialization
btrue;
property_panel.User_checks
btrue;
property_panel.is_nan_or_infinite
btrue;
Impact
btrue;
Value.show_by_callstacks
btrue;
filetree_hide_annotattions
bfalse;
Eva
btrue;
wp.strategies.wp:range
btrue;
Properties.Status
btrue;
property_panel.Current_function
bfalse;
WP
btrue;
value_hide_unused
bfalse;
property_panel.division_by_zero
btrue;
filter_Scope
bfalse;
property_panel.Considered_valid
bfalse;
property_panel.overlap
btrue;
property_panel.From
btrue;
property_panel.mem_access
btrue;
property_panel.ptr_comparison
btrue;
wp.strategies.wp:bitshift
btrue;
filetree_flat_mode
bfalse;
property_panel.pointer_value
btrue;
property_panel.float_to_int
btrue;
filetree_hide_variables
bfalse;
property_panel.Type_invariants
btrue;
property_panel.separation
btrue;
